0b80e5ed-4778-419f-b8f2-f1383da05957.vsidx
4187e975-c5aa-40fc-8582-68be093b246b.vsidx
54e699de-296b-4692-ba3a-d4d30643e200.vsidx
read.lock
.suo
AForge.Imaging.dll
AForge.Imaging.xml
AForge.Math.dll
AForge.Math.xml
AForge.Video.DirectShow.dll
AForge.Video.DirectShow.xml
AForge.Video.dll
AForge.Video.xml
AForge.dll
AForge.xml
CameraInspector.exe
CameraInspector.exe.config
CameraInspector.pdb
Hompus.VideoInputDevices.dll
Hompus.VideoInputDevices.xml
OpenCvSharp.dll
OpenCvSharp.xml
OpenCvSharpExtern.dll
System.Buffers.dll
System.Buffers.xml
System.Memory.dll
System.Memory.xml
System.Numerics.Vectors.dll
System.Numerics.Vectors.xml
System.Runtime.CompilerServices.Unsafe.dll
System.Runtime.CompilerServices.Unsafe.xml
System.ValueTuple.dll
System.ValueTuple.xml
.NETFramework,Version=v4.8.1.AssemblyAttributes.cs
App.g.cs
App.g.i.cs
CameraInspector.Properties.Resources.resources
CameraInspector.csproj.AssemblyReference.cache
CameraInspector.csproj.CopyComplete
CameraInspector.csproj.CoreCompileInputs.cache
CameraInspector.csproj.FileListAbsolute.txt
CameraInspector.csproj.GenerateResource.cache
CameraInspector.csproj.SuggestedBindingRedirects.cache
CameraInspector.g.resources
CameraInspector_MarkupCompile.cache
CameraInspector_MarkupCompile.i.cache
CameraInspector_MarkupCompile.i.lref
CameraInspector_MarkupCompile.lref
DesignTimeResolveAssemblyReferencesInput.cache
MainWindow.baml
MainWindow.g.cs
MainWindow.g.i.cs
_IsIncrementalBuild
.signature.p7s
AForge.2.2.5.nupkg
AForge.Imaging.2.2.5.nupkg
AForge.Math.2.2.5.nupkg
AForge.Video.2.2.5.nupkg
AForge.Video.DirectShow.2.2.5.nupkg
Hompus.VideoInputDevices.0.5.0.nupkg
OpenCvSharp4.4.6.0.20220608.nupkg
OpenCvSharp4.WpfExtensions.4.6.0.20220608.nupkg
OpenCvSharp.WpfExtensions.xml
OpenCvSharp.WpfExtensions.dll
LICENSE.TXT
System.Buffers.4.5.1.nupkg
THIRD-PARTY-NOTICES.TXT
_._
useSharedDesignerContext.txt
version.txt
System.Memory.4.5.4.nupkg
System.Numerics.Vectors.4.5.0.nupkg
Icon.png
System.Runtime.CompilerServices.Unsafe.6.0.0.nupkg
System.Runtime.CompilerServices.Unsafe.targets
System.ValueTuple.4.5.0.nupkg
*.vsidx
MaterialDesignColors.dll
MaterialDesignColors.pdb
MaterialDesignThemes.Wpf.dll
MaterialDesignThemes.Wpf.pdb
MaterialDesignThemes.Wpf.xml
App.baml
DesignTimeResolveAssemblyReferences.cache
Properties.Resources.Designer.cs.dll
MaterialDesignColors.2.0.6.nupkg
MaterialDesignColors.Icon.png
MaterialDesignThemes.4.5.0.nupkg
MaterialDesignThemes.targets
Roboto-Black.ttf
Roboto-BlackItalic.ttf
Roboto-Bold.ttf
Roboto-BoldItalic.ttf
Roboto-Italic.ttf
Roboto-Light.ttf
Roboto-LightItalic.ttf
Roboto-Medium.ttf
Roboto-MediumItalic.ttf
Roboto-Regular.ttf
Roboto-Thin.ttf
Roboto-ThinItalic.ttf
RobotoCondensed-Bold.ttf
RobotoCondensed-BoldItalic.ttf
RobotoCondensed-Italic.ttf
RobotoCondensed-Light.ttf
RobotoCondensed-LightItalic.ttf
RobotoCondensed-Regular.ttf
MaterialDesignThemes.Icon.png
VisualStudioToolsManifest.xml
/CameraInspector/packages/LibUsbDotNet.2.2.29/LibUsbDotNet.2.2.29.nupkg
/CameraInspector/packages/LibUsbDotNet.2.2.29/lib/net45/LibUsbDotNet.LibUsbDotNet.dll
/CameraInspector/packages/LibUsbDotNet.2.2.29/lib/net45/LibUsbDotNet.LibUsbDotNet.pdb
/CameraInspector/packages/LibUsbDotNet.2.2.29/lib/netcoreapp2.0/LibUsbDotNet.LibUsbDotNet.dll
/CameraInspector/packages/LibUsbDotNet.2.2.29/lib/netcoreapp2.0/LibUsbDotNet.LibUsbDotNet.pdb
/CameraInspector/packages/LibUsbDotNet.2.2.29/lib/netstandard1.6/LibUsbDotNet.LibUsbDotNet.dll
/CameraInspector/packages/LibUsbDotNet.2.2.29/lib/netstandard1.6/LibUsbDotNet.LibUsbDotNet.pdb
/CameraInspector/packages/LibUsbDotNet.2.2.29/lib/netstandard2.0/LibUsbDotNet.LibUsbDotNet.dll
/CameraInspector/packages/LibUsbDotNet.2.2.29/lib/netstandard2.0/LibUsbDotNet.LibUsbDotNet.pdb
/CameraInspector/CameraInspector/bin/Debug/LibUsbDotNet.LibUsbDotNet.dll
/CameraInspector/CameraInspector/bin/Debug/LibUsbDotNet.LibUsbDotNet.pdb
